section, .section {
    color: #212529;
    background-color: #ffffff;
    padding: 60px 0;
    scroll-margin-top: 98px;
    overflow: clip;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
}

    .section-title h2:before {
        margin: 0 15px 10px 0;
    }

    .section-title h2:before, .section-title h2:after {
        content: "";
        width: 50px;
        height: 2px;
        background: #e84545;
        display: inline-block;
    }

    .section-title h2:after {
        margin: 0 0 10px 15px;
    }

.section-title {
    text-align: center;
    /* padding-bottom: 60px; */
    position: relative;
}

.features .features-item h3 {
    font-weight: 700;
    font-size: 26px;
}

.features .features-item .image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
}

    .features .features-item .image-stack .stack-front {
        grid-row: 1;
        grid-column: 1 / span 8;
        margin-top: 66%;
        width: 60%;
        z-index: 2;
    }

.features .features-item img {
    border: 6px solid #ff344f;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.features .features-item .image-stack .stack-back {
    grid-column: 4 / -1;
    grid-row: 1;
    width: 100%;
    z-index: 1;
}

.features .features-item img {
    border: 6px solid #ff344f;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.features .features-item + .features-item {
    margin-top: 60px;
}

.features .features-item {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
}

    .features .features-item .features-img-bg img {
        inset: 0;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .features .features-item img {
        border: 6px solid #ff344f;
        box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    }

    .features .features-item h3 {
        font-weight: 700;
        font-size: 26px;
    }

    .features .features-item ul li {
        padding-bottom: 10px;
        display: flex;
        align-items: flex-start;
    }

    .features .features-item ul i {
        font-size: 20px;
        padding-right: 4px;
        color: #e84545;
    }

@media (max-width: 1199px) {
    section, .section {
        scroll-margin-top: 64px;
    }
}
