.dnd-section {
    background-color: rgba(255, 255, 255, 1.0);
    overflow: hidden;
}

.pricing-table {
    border: 1px solid #ddd;
    padding: 0 10px;
    position: relative;
    transition: all .3s linear;
    height: 100%;
    min-height: 260px;
}

#hs_cos_wrapper_widget_1724084820212 .pricing-table h3 {
    color: rgba(255, 122, 89, 1.0);
}

.pricing-table h3 {
    color: rgba(255, 122, 89, 1.0) !important;
    font-size: 2.5em;
    margin: 20px 0;
    text-align: center;
}

#hs_cos_wrapper_widget_1724084820212 .pricing-table .price {
    color: black;
}

.pricing-table .price {
    font-size: 3em;
    color: black;
    line-height: 1.5em;
    margin: 0;
    text-align: center;
}

#hs_cos_wrapper_widget_1724084820212 .pricing-table .description, #hs_cos_wrapper_widget_1724084820212 .pricing-table ul.list-features li {
    color: rgba(0, 0, 0, 1.0);
}

.pricing-table .description {
    text-align: center;
    color: black;
}

.accordion {
    margin: 3em auto 4em;
    max-width: 30em;
}

.option {
    margin-bottom: .5em;
    position: relative;
}

.toggle {
    display: none;
}

.title1 {
    background: #fff;
    color: black;
    display: block;
    font-weight: 700;
    padding: .5em 2em;
    cursor: pointer;
    position: relative;
}

    .title1:after, .title1:before {
        background-color: #7a7572;
        content: "";
        height: .75em;
        position: absolute;
        right: 1.25em;
        top: 1.25em;
        width: 2px;
        transition: transform 0.2s ease;
    }

    .title1:after {
        transform: rotate(90deg);
    }

.content {
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
}

.toggle:checked + .title1 + .content {
    max-height: 1000px; /* Adjust this value as needed */
    padding: 1em 2em;
}

.toggle:checked + .title1:before {
    transform: rotate(90deg);
}

#hs_cos_wrapper_widget_1724084820212 .pricing-table .ribbon span, #hs_cos_wrapper_widget_1724084820212 .pricing-table .button-pt {
    background-color: rgba(102, 0, 0, 1.0);
    color: rgba(255, 255, 255, 1.0);
}

.toggle:checked + .title1, .toggle:checked + .title1 + .content {
    box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
}

.title1 span.green {
    fill: green;
}

.title1 span {
    border-radius: 100%;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
}

.pricing-table .button-pt:hover {
    background-color: #000;
    transition: 0.5s ease-out;
}

.pricing-table .button-pt {
    background-color: rgba(102, 0, 0, 1.0);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5em;
    height: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    bottom: 0;
    justify-content: center;
    left: 0;
    margin: 0;
    position: absolute;
    width: 100%;
}

.pricing-table .ribbon-top-right {
    right: -10px;
    top: -10px;
}

.pricing-table .ribbon {
    height: 120px;
    overflow: hidden;
    position: absolute;
    width: 120px;
    z-index: 10;
}

#hs_cos_wrapper_widget_1724084820212 .pricing-table .ribbon:before, #hs_cos_wrapper_widget_1724084820212 .pricing-table .ribbon:after, #hs_cos_wrapper_widget_1724084820212 .pricing-table .ribbon:after, #hs_cos_wrapper_widget_1724084820212 .pricing-table .ribbon:before {
    border: 5px solid rgba(102, 0, 0, 1.0);
}

.pricing-table .ribbon-top-right:before {
    left: 0;
    top: 0;
}

.pricing-table .ribbon-top-right:after, .pricing-table .ribbon-top-right:before {
    border-right-color: transparent;
    border-top-color: transparent;
}

.pricing-table .ribbon:after, .pricing-table .ribbon:before {
    border: 5px solid #c52025;
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
}


.pricing-table .ribbon-top-right span {
    left: -34px;
    top: 18px;
    transform: rotate(45deg);
}

.pricing-table .ribbon span {
    background-color: rgba(102, 0, 0, 1.0);
    color: rgba(255, 255, 255, 1.0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    display: block;
    font-size: 12px;
    font-weight: 700;
    padding: 19px 0;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    width: 225px;
}

#hs_cos_wrapper_widget_1724084820212 .pricing-table .ribbon:before, #hs_cos_wrapper_widget_1724084820212 .pricing-table .ribbon:after, #hs_cos_wrapper_widget_1724084820212 .pricing-table .ribbon:after, #hs_cos_wrapper_widget_1724084820212 .pricing-table .ribbon:before {
    border: 5px solid rgba(102, 0, 0, 1.0);
}



.pricing-table ul.list-features {
    list-style: none;
    padding-left: 20px;
    margin: 30px 0 70px;
}

#hs_cos_wrapper_dnd_areahome-module-20 .pricing-table .description, #hs_cos_wrapper_dnd_areahome-module-20 .pricing-table ul.list-features li {
    color: rgba(0, 0, 0, 1.0);
}

.pricing-table ul.list-features li {
    border-bottom: 1px solid #ddd;
    font-size: 1.2em;
    color: black !important;
    margin: 0 20px 10px;
    padding-bottom: 10px;
    position: relative;
}

    .pricing-table ul.list-features li span.green {
        fill: green;
    }

    .pricing-table ul.list-features li span {
        border-radius: 100%;
        content: "";
        height: 20px;
        left: -15px;
        position: absolute;
        width: 20px;
    }

.pricing-table .price span {
    font-size: .5em !important;
}

.pricing-table ul.list-features li span {
    border-radius: 100%;
    content: "";
    height: 20px;
    left: -15px;
    position: absolute;
    width: 20px;
}
/* @media screen and (max-width:768px) {
    .breeds {
      min-height: 838px !important;
    }
}
@media screen and (max-width:426px) {
    .breeds {
      min-height: 632px !important;
    }
}
@media screen and (max-width:1440px) {
    .enhancement {
      min-height: 600px !important;
    }
}
@media screen and (max-width:768px) {
    .enhancement {
      min-height: 748px !important;
    }
}
@media screen and (max-width:426px) {
    .enhancement {
      min-height: 556px !important;
    }
}

@media screen and (max-width:768px) {
    .advertising {
      min-height: 846px !important;
    }
}
@media screen and (max-width:426px) {
    .advertising {
      min-height: 750px !important;
    }
}
@media screen and (max-width:1440px) {
    .kittens {
      min-height: 682px !important;
    }
}
@media screen and (max-width:768px) {
    .kittens {
      min-height: 783px !important;
    }
}
@media screen and (max-width:426px) {
    .kittens {
      min-height: 591px !important;
    }
}
@media screen and (max-width:768px) {
    .pedigree {
      min-height: 844px !important;
    }
}
@media screen and (max-width:426px) {
    .pedigree {
      min-height: 635px !important;
    }
}
@media screen and (max-width:320px) {
    .pedigree {
      min-height: 749px !important;
    }
} */
/* .testimonial-content-box {
    background-image: linear-gradient(rgba(77, 79, 95, 1), rgba(77, 79, 95, 1)) !important;
}
.testimonial-content-box  p{
    color: white !important;
    display: flex;
}
.testimonial-content-box  p> i {
    color: white !important;
}
.testimonial-content-box .section-title h2,h5,h4,ul,.sub-title {
    color: white !important;
} */

/* .testimonial-content-box  >.section-title h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: white !important;
    display: inline-block;
}
.testimonial-content-box  > .section-title h2::before {
    content: "";
    width: 50px;
    height: 2px;
    background: white !important;
    display: inline-block;
} */
h2 {
    font-size: 40px;
    font-style: normal;
    font-family: Poppins;
    color: #222222;
    text-decoration: none;
    line-height: 42px;
}

.testimonial-wrapper-two > .col-lg-6 > img {
    height: 100% !important;
}

.features span {
    color: black !important;
}

.pricing-table:hover {
    box-shadow: 3px 6px 10px rgba(0, 0, 0, .2);
    transform: scale(1.05);
    transition: all .3s linear;
}
